.card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}
.card h2,
.card h3 {
  color: white;
}
@media (max-width: 992px) {
  .card {
    width: 48%;
  }
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.filter {
  padding: 12px 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: yellow;
  color: black;
}
.fil {
  border: 1px solid white;
  padding: 20px;
}
