.footer {
  background-color:#ffffff;
  color: #fff;
  padding: 40px 20px 20px;
  margin-top: 15px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
   color: #000000;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #000000;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #000000;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 15px;
 color: #000000;
}
