/* PAGE LAYOUT */
.page {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* SEARCH */
.search-box {
  background: #003152;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.img-box {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.search-box h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
}

/* FILTER */
.filter-box {
  width: 220px;
  background: #1f2933;
  padding: 20px;
  border-radius: 8px;
}

.filter-box h3 {
  color: white;
  margin-bottom: 15px;
}

.filter-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.reset-btn {
  width: 100%;
  padding: 8px;
  background: #ffd90c;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* PRODUCTS GRID */
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 products in one row */
  gap: 20px;
  margin-top: 10px;
  width: 100%;
}

/* CARD */
.card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* IMAGE */
.img-box {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

/* TEXT */
.card h3 {
  font-size: 15px;
  color: #1f2933;
}

.price {
  font-size: 20px;
  font-weight: bold;
  /* margin-bottom: 10px; */
  color: #1f2933;
}

/* BUTTONS */
.cart-btn {
  background: #fdcb0c;
  color: rgb(0, 0, 0);
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 8px;
  border: none;
  cursor: pointer;
}

.buy-btn {
  background: #000000;
  color: rgb(255, 255, 255);
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.empty {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 18px;
}

.Applyfilter {
  background-color: #000000;
  color: white;
}

.color-options {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s;
}

.color-circle:hover {
  transform: scale(1.2);
}
