/* Headings */
h1
 { padding: 20px;
  border-radius: 5px;
  margin-left: 50px;
  background-color: #2b4ae7;
  color: rgb(255, 255, 255);
  text-align: center; 
  
  width: 90vw;
}

/* Parent container */
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
  gap: 20px;
  margin-top: 20px;
  width: 100%;          
}

/* Card Style */
.card {
  width: 260px;
  background-color:#ffffff;
  color: rgb(0, 3, 3);
  border-radius: 10px;
  padding: 20px;
  /* text-align: left; */
}
