button {
  padding-bottom: 20px;
  /* width: 100vw; */
}

h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -30px;
  color: white;
}

span {
  color: white;
  font-size: 28px;
  margin-top: -6px;

}

.parent {
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  min-height: 35vh;
}

.value {
  font-size: 18px;
  font-weight: 500;
}

.label {
  font-size: 13px;
  opacity: 0.85;
}


.humidity,
.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  /* controlled spacing */
}


.humidity img,
.wind img {
  margin-bottom: 6px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.parts {
  display: flex;
  align-items: center;
  text-align: left;
}

select {
  border: 0;
  outline: 0;
  background: #ebfffc;
  padding: 10px 5px 10px 25px;
  flex: 1;
  font-size: 18px;
  text-transform: capitalize;

}

h1 {
  color: rgba(255, 255, 255, 0.904);
  margin-top: -20px;
  /* padding-top: 10px; */
  /* background-color: blueviolet; */
}

h3 {
  color: rgb(255, 255, 255);
}


.card {
  /* margin-top: 10px; */
  width: 20vw;
  /* padding-bottom: 10px; */
  background-color: #0e3A87;
  color: black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  transform: translateY(20px);
  text-align: center;
  gap: 20px;
  /* display: flex; */
  /* height: 40vh; */
}

table,
th,
td {
  border-radius: 3px;
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

th,
td {
  padding: 3px;

}

th {
  background-color: #060606;
  color: rgb(255, 255, 255);
  border: 2px;

}

table {
  width: 30vw;
}

input {
  border-radius: 6px;
  background-color: white;
  /* width: 20vw; */
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);

}

input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.5;
}

input:focus {
  border-color: #2563eb;
  /* blue */
  box-shadow: 0 0 4px #2563eb;
}