/* =========================
   GLOBAL RESET & BASE
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


h3{
  color: black;
}
.card img {
  width: 100%;
  height: 160px;
  object-fit: contain;   /* image distort nahi hogi */
}

.card h2,
.card h3 {
  /* margin: 2px 0; */
  color: white;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 992px) {
  .card {
    width: 48%;
  }

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* e-commerce.css */



.LatestProduct {
  background-color: #f5f5f5; /* light background so you can see it */
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  font-size: 18px;
  color: #333;
}
.filter{
  padding:  12px 18px;
  margin-top:20px;
  margin-bottom: 20px;
  background-color: yellow;
  color: black;
}
.fil{
  border: 1px solid white;
  padding: 20px;
}