/* =========================
   GLOBAL RESET & BASE
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: black;
}
.card img {
  width: 100%;
  height: 160px;
  object-fit: contain; /* image distort nahi hogi */
}

.card h2,
.card h3 {
  /* margin: 2px 0; */
  color: white;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 992px) {
  .card {
    width: 48%;
  }

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* e-commerce.css */

.LatestProduct {
  background-color: #f5f5f5; /* light background so you can see it */
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  font-size: 18px;
  color: #333;
}
.filter {
  padding: 12px 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: yellow;
  color: black;
}
.fil {
  border: 1px solid white;
  padding: 20px;
}
/* table */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;

  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: #ffd90c;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 13px 15px;
}

.styled-table tbody tr {
  border-bottom: 2px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  color: black;
  transform: scale(1.01);
  transition: all 0.3s ease;
}

.filter-box {
  width: 900px;
}
